@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin-left: auto;
    margin-top: auto;
    width: 100%;
}
body{
    background-color: #222326;
}
.bg{
    background: url('background.jpg');
    position: absolute;
    padding-right: 100%;
    padding-bottom: 52.5%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -2;
    border-radius: 0 0 100px 100px;

}
.presentation{
}

#center{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.nav-bar{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    background-color: #0C0C0D;
    border-radius: 50px;
    width: 420px;
    padding: 20px;
}
.nav-bar>a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #3A3B40;
}
.nav-bar>a>h4{
    display: inline;
}


.contactme-link{
    margin-left: 3%;
}

.myworks-link{
    margin-right: 3%;
}

.face{
    margin-top: 26%;
    margin-left: 85px;
    background: url('face-bw.jpg');
    width: 398.25px;
    height: 504px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -120px;
    border-radius: 100px;
}

.black-box{
    text-align: center;
    background-color: #0C0C0D;
    padding: 28px;
    border-radius: 50px;
    width: 500px;
}

.black-box>h1{
    color: #D9D9D9;
    font-size: 58px;
    font-family: 'Rockwell', sans-serif;
    letter-spacing: 5px;
}

.black-box>h4{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    color: #3A3B40;
}